body{
  font-family: 'Titillium Web', 'sans-serif';
}


section h1{
  background-color: red;
}

h1{
  background-color: navajowhite;
}

header{
  text-align: center;
}

header h1:hover{
  color: red;
}